@import "../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../node_modules/toastr/toastr.scss";

$sideMenuColor : #2C2F3E;
$sideMenuWidth : 200px;

html,body {
	height: 100%;
	font-family: "微软雅黑";
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#app {
	width: 100%;
	height: 100%;
}
.g-doc {
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
}
.g-sd {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: $sideMenuWidth;
	overflow: auto;
	background-color: $sideMenuColor;
}
.g-mn {
	position: absolute;
	top: 0px;
	bottom: 0;
	left: $sideMenuWidth;
	right: 0;
	overflow: auto;
}
.g-cnt {
	position: absolute;
	top: 52px;
	left: 0px;
	right: 0;
	bottom: 0;
	padding: 20px;
}
.home-logo {
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 22px;
	color: #aaa;
	// background-color: #FB2D5D;
	background-color: #f8f8f8;
	border-bottom: 1px solid #e7e7e7;
}
.navbar-default .navbar-nav>li>a.active, .navbar-default .navbar-nav>li>a.active:hover, .navbar-default .navbar-nav>li>a.active:focus{
	color: #555;
	background-color: #E7E7E7;
}
nav {
	margin-bottom: 0!important;
	border-radius: 0!important;
	height: 50px;
	border-left: none !important;
}
.user-info {
	padding-top: 6px;
	padding-bottom: 8px;
}
.sideMenu {
	height: 400px;
	padding: 0;
}

/*component accordion start*/
.accordion {
	width: 100%;
	color: #7A7E88;
}

.accordion-item {
	.accordion-item-head {
		cursor: pointer;
		padding: 15px;

		.item-logo {
			margin-right: 6px;
		}
	}
	.accordion-item-content {
		display: none;
		list-style: none;
		padding: 0;
		margin: 0;
		display: none;

		.item-logo {
			margin-right: 5px;
		}

		li {

			a {
				display: block;
				width:100%;
				height: 100%;
				padding: 10px 0;
				padding-left: 30px;
				color: #7A7E88;

				&.active {
					color: #fff;
					text-decoration: none;
				}
				&:hover {
					text-decoration: none;
					color : #fff;
				}
			}
		}
	}
}

.accordion-item.open {
	.accordion-item-head {
		color: #fff;
	}
	.accordion-item-content {
		display: block;
	}
}

/*component accordion end*/
.chart-container {
	height: 100%;
}

/*电影*/
.movies-content {
	width: 900px;
	overflow: hidden;
	margin: 30px auto;
}
.movies-item {
	float: left;
	width: 130px;
	height: 182px;
	background: #ccc;
	margin-right: 20px;
	margin-bottom: 40px;
}
.movies-item-title {
	width: 100%;
	text-align: center;
	display: block;
	padding-top: 5px;
}

/*天气*/
.weather {

}
.weather-icon {
	background-image: url("../img/weather.png");
	width:55px;
	height: 45px;
	display: block;
	margin: 10px auto;
}
.weather-sunny {
	background-position: 0px -90px;
}
.weather-duoyun {
	background-position: -240px -45px;
}
.weather-yin {
	background-position: -180px -45px;
}
.weather-zheyu {
	background-position: -120px -90px;
}
.weather-xiaoyu {
	background-position: -60px 0;
}
.weather-days {
	height: 200px;
	width: 100%;
	border: 1px solid #ddd;
	border-right: none;
}
.weather-days-item {
	float: left;
	width:14.2857%;
	height: 100%;
	border-right: 1px solid #ddd;
}
.weather-days-enable:hover {
	/*cursor: pointer;
	background: #4BD9F2;*/
}
.weather-days-head {
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-bottom: 1px solid #ddd;
}
.weather-days-body {

}
.weather-detail {
	
}
.weather-detail-advice {
	overflow: hidden;
	margin-top: 10px;
	padding: 10px;
	border: 1px solid #ddd;
	.item {
		margin-right: 40px;
	}
}
.weather-detail-hour {
	margin-top: 10px;
	border: 1px solid #ddd;
	height: 300px;
	.head {
		height: 30px;
		line-height: 30px;
		padding-left: 10px;
		border-bottom: 1px solid #ddd;
	}
	.body {
		height: 270px;
	}
}


/*邮件发送*/
.mail {
	width: 600px;
	margin: 20px auto;
}

/*聊天室*/
.chat {
	position: relative;
	height: 100%;
	border: 1px solid #ddd;
}
.chat-list {
	position: absolute;
	right: 0;
	width: 200px;
	top: 0;
	bottom: 0;
	border-left: 1px solid #ddd;
	ul {
		list-style: none;
		padding: 0;
		li {
			height: 40px;
			line-height: 40px;
			padding-left: 20px;
			border-bottom: 1px solid #ddd;
		}
	}
}
.chart-list-title {
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #ddd;
	padding-left: 10px;
}
.chat-room {
	position: absolute;
	left: 0;
	right: 200px;
	top: 0;
	bottom: 0;
	background-color: #eee;
}
.chat-room-body {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 140px;
	overflow: auto;
}

.chat-room-item {
	overflow: hidden;
	padding: 20px;

	.msg {
		padding: 10px;
		background-color: #b2e281;
		border-radius: 3px;
		float: left;
	}
	.logo {
		float: right;
		font-size: 40px;
		margin-left: 10px;
		margin-top: -2px;
	}
}
.chat-room-text {
	position: absolute;
	bottom: 40px;
	height: 100px;
	left: 0;
	right: 0;

	textarea {
		width: 100%;
		height: 100%;
		border: none;
		border-top: 1px solid #ddd;
		resize:none;
		background: #eee;
		padding: 10px;

		&:focus {
			outline: none;
		}
	}
}
.chat-room-send {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 40px;
	padding-top: 3px;
	padding-right: 5px;

	.tip {
		margin-right: 30px;
		margin-top: 6px;
	}
}

/*account*/
.account-search {
	border-bottom: 1px solid #ddd;
	overflow: hidden;
	height: 50px;
	line-height: 50px;
}


/*功能类*/
.f-mt10 {
	margin-top: 10px;
}
.f-mr10 {
	margin-right: 10px;
}
.f-mr5 {
	margin-right: 5px;
}
.f-fr {
	float: right;
}
.f-fl {
	float: left;
}
.f-tac {
	text-align: center;
}